
html {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

h3 {
  color: #5A9FE9;
}

div.example {
  max-width: 1000px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #eee;
}

div.example input {
  margin-bottom: 5px;
}

div.example a {
  margin-right: 10px;
}

div.example a img {
  height: 30px;
}

code {
  display: block;
  margin: 20px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}

div[id^="pseudo-legend"],
div.pseudo-heading {
  margin-bottom: 15px;
}

.ital {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.green {
  color: green;
}

.red {
  color: red;
}